
.bbb{
    border: 1px solid black; /* You can change the color code (#FF0000) to your desired color */
    border-radius: 10px;
    padding-bottom: 80px;
    
    
  }

  .input-container {
    display: flex;
    padding: 10px;
  }
.input-base-operateur{
    background-color: white;
    width: 40% ;
    border-radius: 10px;
    display: flex;
    margin: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
    
  }

.input-base-operateur2{
    background-color: white;
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
    
}
.cc{
    display: flex;
    flex-direction: row;
    margin-bottom: 6px;
}

.table-title-op{
    background-color: #F0F0F0;
      padding: 10px;
      width: 100%;
      border-radius: 10px;
      display: flex;
      align-items: baseline;
      margin-top: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.square{
    width: 65px;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: black;
    margin-left: 6px;
}

.number {
   font-size: 15px;
   
}

.number2 {
  font-size: 15px;
   margin-left: 20px;
}



.auto .MuiFormControl-root{
  
  color: forestgreen;
  border-radius: 10px;
  
  
}

.auto .MuiAutocomplete-input{
  border-radius: 10px; 
  
}


  @media screen and (max-width: 550px) {
  .col-md-7{
      margin-bottom: 10px ;
      
  }
  .col-md-6{
    margin-bottom: 10px ;
    
}

.col-md-2{
  width: 50px;
}

 
  
}  

