.card{
    background-color: #f4f4f4 !important;
    border: none !important;
    width: 55%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)    !important;
}

.m-30{
    margin: 30px;
}
.cards{
    justify-content: center;
}
.up{
    font-size: 20px;
    font-weight:700;
    color: green;
}
.down{
    font-size: 20px;
    font-weight: 700;
    color: red;
}
.warper{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
   
}

.w-60{
   width: 60% !important;
}


/* .container-fluid {
    background-color: red; 
    justify-content: center !important;
    height: 90vh;
}

.col-md-4 {
    flex: 1;
    background-color: red; 
    justify-content: center !important;
    align-items: center !important;

} */

/* @media screen and (max-width: 750px) {
    .dashboard-cards{
        width: 50% ;
        
    }
  

   
    
  }   */