.input-base-matiere{
    width: 100% ;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
  }

.cc-m{
    display: flex;
    flex-direction: column;
    background-color: rgb(220, 31, 226);
    padding: 10px;
    border-radius: 10px;
}

.number3 {
    font-size: 15px;
     margin-left: 10px;
     font-weight: bold;
  }

   .autocomplete .Mui-focused {
    
    border-radius: 5px;
   
  } 

  .autocomplete .MuiFormControl-root{
    
    border-radius: 10px;
    
  }

.autocomple .MuiTextField-root {
  border-color: blueviolet;
}

.cart{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.card-title{
  text-align: center;
}

.div-corr{
  text-align: center;
}

.list-custom{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  
}

.span-corr{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: block;
 
}

  
 