.input-base-matiere{
    width: 100% ;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
  }

.cc-m{
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
}

.number3 {
    font-size: 15px;
     margin-left: 10px;
     font-weight: bold;
  }

   .autocomplete .Mui-focused {
    
    border-radius: 5px;
   
  } 

  .autocomplete .MuiFormControl-root{
    
    border-radius: 10px;
    
  }

.autocomple .MuiTextField-root {
  border-color: blueviolet;
}

.cart{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.card-title{
  text-align: center;
}

.div-corr{
  text-align: center;
}

.list-custom{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 45px;
  margin-left: 20px;
  margin-right: 20px;
  
}

.span-corr{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: block;
  padding-top: 20px;
 
}
 .df{
  height: 100vh;
  overflow: hidden;
 }

 .insere{
  display: flex;
  width: 100%;
 }

 .typenc{
  font-size: 15px;
  font-weight: bold;
  padding-left: 20px;
 padding-top: 30px;
 }


 .typenc-2{
  font-size: 18px;
  color: grey;
 }

 .typenc-3{
  font-size: 18px;
  font-weight: bold;
 }

 .cadre{
  background-color: #f4f4f4;
  border-radius: 10px;
  padding-bottom: 30px;
  margin-top: 15px;
  
 }
.cadre-graph{
  background-color: #f4f4f4;
  border-radius: 10px;
  padding-bottom: 30px;
}

 .cadre-2{
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
 }

 .cadre-3{
  text-align: center;
 }

 .img{
  width: 6vh;
  height: auto;
 }

 .card-cont{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
 
 }

 .tttt{
  font-size: 20px;
  font-weight: bold;
 }

 .ttt{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
 }

 .custom-header-action .MuiDataGrid-columnHeaders {
  background-color: #D4D4D4;
 }

 .barchart{
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
 }






  
 