.bg-sideBar{
    background-color: #18202c;
    height: 100vh;
    
    
}
.nav-link{
    color:#A9ACAF !important;
    padding: 17px 17px 17px 30px !important;
    
}
.nav-link.active {
    background-color: #2e3541;

    color: white !important;
    border-left: 4px solid green;
    padding-left: 8px;
    font-weight: 700;
    
  }
  .top-bar{
    padding: 15px;
   
    
  }
  input[type="search"]{
    background-color: #A9ACAF !important;
    color:#2e3541 !important;
  }

  